<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav style="margin-bottom: 20px;;">
        <div class="green darken-4" style="padding-bottom: 27px">
            <div class="navbar-wrapper container" style="text-align: center;">
               <h3><lable>Gambling Site</lable></h3>
            </div>
        </div>
    </nav>
    <div class="ui-login center-align container">
		<h3>Welcome to the gambling site</h3><br/>
		<h4><a href="/login">Logon </a>to gamble</h4>
		<h4><a href="/signup">Sign up</a> to create account</h4>
	</div>
</body>
</html>